body {
  background-color: #333;
  color: #F4D35E;
}

.ui.secondary.pointing.menu.light-border .item.site-header { 
  color: #F4D35E;
}

.ui.secondary.vertical.pointing.menu .item {
  color: #F4D35E;
  opacity: 0.8;
  border-color: #494d50;
}

.ui.secondary.vertical.pointing.menu .item:active {
  border-color: #494d50;
}

.ui.secondary.pointing.menu.light-border {
  border-color: #494d50;
}

.ui.secondary.vertical.pointing.menu .item:hover {
  color: #F4D35E;
  opacity: 1;
}

.ui.secondary.vertical.pointing.menu .active.item {
  color: #F4D35E;
  opacity: 1;
  border-color: #F4D35E;
}

i.icon.loading {
  animation: icon-loading .8s linear infinite
}

.ui.segment.transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}

span.rc-slider-mark-text {
  display: none;
}